<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gonzalezcs.covidnewmodule">

    <application
        android:name="com.gonzalezcs.covidnewmodule.CovidApplication"
        tools:replace="android:name">
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:name=".ui.view.CovidDateActivity"
            android:exported="false">

        </activity>
    </application>
</manifest>